@media screen and (max-width: 420px) {
  .info-lateral{
   font-size: 15px;
  }
  p{
   font-size: 14px;
  }
  h3{
   font-size: 1.4rem;
  }
  article{
    font-size: 14px;
  }
  .personal-img{
    width: auto;
  }
  .para-academia{
    padding-top: 0px;
  }

  .lado-esq{
    padding-left: 8px;
    padding-right: 8px;
  }
  .lado-dir{
    padding: 0px 9px;
  }
}

@media screen and (max-width: 330px) {
  .info-lateral{
   font-size: 13px;
  }
  .lado-esq{
    padding-left: 6px;
    padding-right: 6px;
  }
  h2{
    font-size: 14px;
  }
  h3{
    font-size: 1.25rem;
   }
  .logo-img{
    width: 15px;

  }
  .col-img{
    padding-left: 10px;
    padding-right: 10px;
  }
  h5{
    font-size: 1rem;
  }
}

@media screen and (max-width: 580px) {
  
  .titulo-contato{
    font-size: 12px;
  }
  .p-contato{
    font-size: 11px;
  }
  article{
    font-size: 14px;
  }
  h3{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1.2rem;
  }
  .col-img{
    padding-right: 4px;
    padding-left: 4px;
  }
  .logo-img{
    width: 17px;
  }
}

@media screen and (min-width: 600px) {
  .titulo-contato{
    font-size: 13px;
  }
  .p-contato{
    font-size: 12px;
  }
  .logo-img{
    width: 20px;
  }
  .col-img{
    padding: 0px 7px;
  }
}

@media screen and (min-width: 1000px) {
  .titulo-contato{
    font-size: 15px;
  }
  .p-contato{
    font-size: 14px;
  }
  .logo-img{
    width: 18px;
  }
  .col-img{
    padding: 0px 8px;
  }
  h4{
    font-size: 30px;
  }
  h2{
    font-size: 50px;
  }
}

@media screen and (min-width: 1300px) {
  .titulo-contato{
    font-size: 17px;
  }
  .p-contato{
    font-size: 16px;
  }
  .logo-img{
    width: 23px;
  }
  .col-img{
    padding: 0px 8px;
  }
  h4{
    font-size: 38px;
  }
  h2{
    font-size: 70px;
  }
  .info-lateral{
    font-size: 35px;
  }
}

@media screen and (min-width: 1450px) {
  .personal-img{
    width: 50%;
  }
  .logo-img{
    width: 25px;
  }
  h5{
    font-size: 1.36rem;
  }

}
