body{
    background-color: rgba(217, 217, 217,0.68);
}
input{
    width: 100%;
    height: 100%;
    padding: 0px;
}
.input-row{
    padding: 0px;
    margin: 0px;
    height: 40px;
}

.input-col{
    padding: 0px;
    margin: 0px;
}

.personal-img{
    width: 60%;
    padding-top: 35px;
    padding-bottom: 30px;
}

.para-academia{
    padding: 20px;
}

.lado-dir{
    /*background-color: rgba(242, 242, 242, 0.404);*/
    background-color:rgba(255, 255, 255, 0.84);
    padding: 0px 15px;
    text-align: justify;
}
h2{
    font-size: 4.62vw;
    margin-bottom: 4px;
}

h4{
    font-size: 2.9vw;
}
h5{
    font-size: 1.3rem;
}

.titulo-contato{
    font-size: 1.7vh;
    padding-left: 3vw;
    padding-top: 3px;
    font-weight: bolder;
    margin-bottom: 3px;
}

.p-contato{
    font-size: 1.5vh;
    padding-left: 3vw;
    color: rgba(0, 0, 0, 0.6);
}

.linha-nome{
    border-bottom: solid rgba(0, 0, 0, 0.274);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    padding-bottom: 7px;
    padding-top: 50px;
}

.info-lateral{
    font-size: 1;
}

.barra-prog{
    background-color: rgba(0, 0, 0, 0.788);
}